# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
media/
staticfiles/

# Django migrations cache
**/migrations/__pycache__/

# =========================
# Django REST / JWT
# =========================
*.jwt
*.key

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.bak
*.tmp
